.main-container {
  margin: auto;
  max-width: 1300px;
  padding: 40px;
  height: auto;
  display: flex;
  margin-top: 80px;
}

.sidebar {
  background: linear-gradient(to bottom, #1867ce, #156ada, #1867ce);
  color: white;
  padding: 20px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.sidebar h3 {
  font-weight: bold;
  margin: 15px 0;
}

.nav-header {
  font-size: 14px;
  color: #aec7ea;
  padding: 10px 0;
}

.nav-item {
  color: #b1bdce;
  padding: 14px 16px;
  border-radius: 10px;
  transition: all .4s;
  margin: 2px;
}

.nav-item>svg {
  margin-right: 10px;
}

.nav-item-active, .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #e6e8eb;
}

.content {
  padding: 40px;
  background-color: #ffffff;
  flex-grow: 1;
}

.nav-last-item {
  margin-top: auto;
}

.dark-mode .sidebar {
  background: linear-gradient(to bottom, #0a3d8c, #0e4a99, #0a3d8c);
}

.dark-mode .content {
  background-color: #2b2e33;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .form-control {
  background-color: #1c1f22; 
  color: #929292; 
  border: 1px solid #343a40;
}

.dark-mode .form-control:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* sombra de foco azul clara */
}