.btn {
  border: none;
}

.breadcrumb {
  background-color: #ffffff;
}

.product-img {
  height: 380px;
  transition: transform 0.3s ease;
}

.product-img:hover {
  transform: scale(1.05);
}

.thumbnail-gallery {
  margin-bottom: 10px;
}

.thumbnail-img {
  width: 85px;
  height: 85px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
  border-radius: 5px;
}

.thumbnail-img:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

.thumbnail-img.active {
  border-color: #007bff;
}

.card .badge {
  font-size: 1rem; 
}

.card .description {
  font-size: 20px;
}

.dark-mode .form-control {
  background-color: #26292c; 
  color: #929292; 
  border: 1px solid #343a40;
}

.dark-mode .card, .dark-mode .breadcrumb {
  background-color: #2b2e33;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
