{% extends 'base.html' %}

{% block title %} Entrar {% endblock title %}

{% block staticfiles %}
    {% load static %}
    <link href="{% static 'css/authenticate.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-4">
        <div class="custom-container text-center">
            <h2>Entrar</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <span>
                    Não tem uma conta? <a href="{% url 'register' %}" class="text-white">Cadastrar</a>
                </span>
                <button type="submit" class="auth-btn w-100">Entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
