{% extends "base.html" %}

{% block title %} Perfil {% endblock title %}

{% block staticfiles %}
    {% load static %}
    <link href="{% static 'css/components/siderbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/profile/profile.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="main-container">
    {% include 'components/siderbar.html' %}
    <div class="content shadow-lg rounded">
      <h3 class="mb-4">Informações Pessoais</h3>
      <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Foto do perfil -->
        <div class="col-md-4">
          <div class="profile-image-container">
              <div class="profile-img-wrapper">
                  <img id="ProfilePreview" src="{% if form.instance.foto_perfil %}{{ form.instance.foto_perfil.url }}{% else %}https://www.gravatar.com/avatar/?d=mp{% endif %}" alt="Foto do perfil" class="profile-img">
                  <label for="foto_perfil" class="upload-label">
                      Alterar Foto
                  </label>
                  <input type="file" id="foto_perfil" name="foto_perfil" class="file-input" accept="image/*" onchange="previewImage(event, 'ProfilePreview')">
              </div>
          </div>
        </div>

        <!-- Edição de perfil -->
        <div class="col-md-8">
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.first_name.label }}
              {{ form.first_name }}
            </div>
            <div class="form-group col-md-6">
              {{ form.last_name.label }}
              {{ form.last_name }}
            </div>
          </div>
    
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
          </div>

          <div class="form-group">
            {{ form.telefone.label}}
            {{ form.telefone }}
          </div>

          <div class="form-group">
            <label for="cep">CEP</label>
            <div class="input-group">
              <input type="text" id="cep" name="cep" maxlength="8" placeholder="Digite o CEP" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary" onclick="buscarCep()">OK</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            {{ form.endereco.label }}
            {{ form.endereco }}
          </div>

          <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </div>
      </form>

      <h3 class="mt-5 mb-4">Alterar Senha</h3>
      <form>
        <div class="form-group">
          <label for="old-password">Senha Atual</label>
          <input type="password" id="old-password" class="form-control" placeholder="Digite sua senha atual">
        </div>

        <div class="form-group">
          <label for="new-password">Nova Senha</label>
          <input type="password" id="new-password" class="form-control" placeholder="Digite a nova senha">
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirme a Nova Senha</label>
          <input type="password" id="confirm-password" class="form-control" placeholder="Confirme a nova senha">
        </div>

        <button type="submit" class="btn btn-primary">Alterar Senha</button>
      </form>

    </div>
  </div>
</div>
<script src="{% static "js/image-preview.js" %}" defer></script>
<script>
  function buscarCep() {
      const cep = document.getElementById("cep").value;
      
      if (cep.length !== 8) {
          print('Insira um CEP válido com 8 números.');
          return;
      }

      fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then(response => {
              if (!response.ok) throw new Error();
              return response.json();
          })
          .then(data => {
              if (data.erro) {
                  print('CEP não encontrado.');
              } else {
                  document.getElementById("endereco").value = `${data.uf}, ${data.localidade}, ${data.bairro}`;
              }
          })
          .catch(() => print('Erro ao buscar CEP.'));
  }
</script>

{% endblock content %}